:root {
    --grid-square-size: 5em;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(9, var(--grid-square-size));
    grid-template-rows: repeat(9, var(--grid-square-size));
    border: 5px solid black;
}

.gridSquare {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    user-select: none;
}

.rowDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    gap: 50px;
}

.button {
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 2px 2px 5px 2px white;
    user-select: none;
}

#informationText {
    margin: 0;
}

.thickLeftBorder {
    border-left: 5px solid black;
}

.thickTopBorder {
    border-top: 5px solid black;
}

.selected {
    background-color: #66ff00;
}

.button:hover, .gridSquare:hover {
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: translate(2px);
}